/* (A) WRAPPER */
#quizwrap{
    max-width: 600px;
    margin: 0 auto;
    /*RECOMMENDED FIXED HEIGHT IF YOU HAVE CONTENT BELOW THE QUIZZ */
    /*SO THAT PAGE LAYOUT DOES NOT "JUMP"*/
    height: 250px;
}

/* (B) QUESTION */
#quizQn{
    padding: 20px;
    background: brown;
    color: #fff;
    font-size: 24px;
    border-radius: 10px;
}

/* (C) ANSWERS*/
#quizAns{
    margin: 10px 0;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
}

#quizAns input[type=radio] {display: none;}
#quizAns label {
    background: #fafafa;
    border: 1px solid purple;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
}

#quizAns :hover {
 color: white;
 background-color: #b90a0a;
}




/* (X) DOES NOT MATTER - COSMETICS */
/* PAGE & BODY */
* {
    font-family: arial, sans-serif;
    box-sizing: border-box;
    }

 body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #c78181;
    text-align: center;
}

    /* WIDGET */
    .widget-wrap {
    width: 600px;
    padding: 30px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.4);
    } 
    /* FOOTER */
    #code-boxx {
    font-weight: 600;
    margin-top: 30p x;
    }
    #code-boxx a {
    display: inline-block;
    border: 0;
    padding: 5px;
    text-decoration: none;
    background: #b90a0a;
    color: #fff;
    } 